body {
    background-color: #F5F5F5;
    color: #757575;
}
/* *Сбросил точки в списках */
ul {
    list-style: none;
}

/* *Блок герой */
.hero {
    background-color: #2F303A;
}
.hero-title {color: #ffffff;}

/* *Логотип */
.logo {
    color: #000000;
}
.logo> span {
    color: #2196F3;
}

/* *Подвал */
footer {
    background-color: #2F303A;
}
.footer-mail,
.footer-tel {
    color: rgba(255, 255, 255, 0.6);
}
.footer-address {
    color: #ffffff;
}
.footer-logo {
    color: #ffffff;
}
.footer-logo> span {
    color: #2196F3;
}


/* *Ссылки */
.site-nav a {
    color: #212121;
}
.site-nav a:hover,.site-nav a:focus {
    color: #2196F3;
}
.auth-nav a {
    color: #212121;
}
.auth-nav a:hover,.auth-nav a:focus {
    color: #2196F3;
}

/* *Заголовки */
.section-title {
    color: #212121;
}

/* цвет основного текста: #212121; */
/* цвет вторичного текста: #757575; */
/* цвет фона страницы: #F5F5F5 */
/* лого в шапке: (studio #000000),(web #2196F3); */
/* ссылка активная #2196F3 */
/* лого в футере: (studio #ffffff),(web #2196F3); */
